/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --pink: #FFFDFF;
  --red: #F2A3A3;
  --dark-red: #ed9090;
  --nav-bar-height: 100px;
  --page-side-padding: 50px;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

header {
  height: var(--nav-bar-height);
  width: 100%;
}

body {
  height: 100vh;
}

#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  
}

/* #app {
  height: calc(100vh - 100px);
} */

body {
  background-color: var(--pink);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans';
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.huge-text {
  font-size: 75px;
}

.large-text {
  font-size: 50px;
}

.medium-text {
  font-size: 30px;
}

.small-text {
  font-size: 18px;
}