/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --pink: #fffdff;
  --red: #f2a3a3;
  --dark-red: #ed9090;
  --darker-red: #e87373;
  --disabled-color: rgb(194, 194, 194);
  --nav-bar-height: 100px;
  --page-side-padding: 50px;
}

.textField {
  width: 250px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 15px;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  height: var(--nav-bar-height);
  width: 100%;
}

body {
  height: 100vh;
}

#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

/* #app {
  height: calc(100vh - 100px);
} */

body {
  background-color: var(--pink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans";
  font-weight: 400;
  user-select: none;
}

img {
  user-select: none;
}

.bold {
  font-weight: 700;
}

.huge-text {
  font-size: 75px;
}

.large-text {
  font-size: 50px;
}

.medium-text {
  font-size: 30px;
}

.small-text {
  font-size: 18px;
}
